:root
{
    --dark01: #131313;
    --dark02: #424242;
    --dark03: #727272;
    --dark04: #A1A1A1;
    --dark05: #D0D0D0;
    --dark06: #E7E7E7;
    --dark07: #F3F3F3;
    --lightOrange: #faf3eb;
    --orange: #FF900E;
    --white :#FFFFFF;
}

.primary-font
{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark03);
}

.secondary-font
{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark01);
    margin-bottom: 24px;
}

*
{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* start header */
.header-section
{
    background-color: var(--lightOrange);
}

nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0 240px;
}

.logo
{
    font-size: 45px;
    font-weight: 700;
}

.nav-items
{
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;
}

.nav-items a
{
    text-decoration: none;
    color: var(--dark02);
    font-weight: 500;
    font-size: 18px;
}

.hero-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text
{
    padding: 0 529px;
    padding-top: 125px;
    text-align: center;
    width: 100%;
}

.hero-title
{
    font-size: 64px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.primary-btn
{
    background-color: var(--orange);
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    border: 0;
    border-radius: 10px;
    margin: 30px 0px 50px 0;
}

.hero-image
{
    margin-bottom: 50px;
}


/* start features section */
.features-section
{
    padding: 78px 301px;
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.features-image
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-image img:hover
{
    box-shadow: var(--dark02) 0px 7px 29px 0px;
}

.features-title
{
    font-size: 45px;
    font-weight: 500;
    color: var(--dark03);
    margin-bottom: 24px;
}

.color-dark01
{
    color: var(--dark01);
    font-weight: 700;
}

.color-dark02
{
    color: var(--orange);
    font-weight: 700;
}


/* start features details section */

.features-details-section
{
    padding: 130px 240px 54px 240px;
    display: flex;
    gap: 54px;
}


.features-details-title
{
    border-left: 6px solid var(--orange);
    padding-left: 24px;
    margin: 24px 24px 24px 0;
}

.features-width
{
    width: 80%;
}

.features-details-item
{
    border: 1px solid var(white);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 20px 20px 0;
    box-shadow: rgba(184, 184, 202, 0.2) 0px 7px 29px 0px;
    width: 80%;
}


.features-details-item:hover
{
    box-shadow: var(--dark02) 0px 7px 29px 0px;
}

.item-title
{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark01);
    margin-bottom: 10px;
}


.features-details-image img
{
    height: 90%;
}


/* start experience section */
.experience
{
    position: relative;
    top: -120px;
    left: -94px;
}

.experience-btn
{
    padding: 42px 46px 42px 45px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 10px;
}

.experience-btn:hover
{
    background-color: var(--dark02);
}

.experience-large
{
    font-size: 65px;
    font-weight: 700;
}


/* start facts section */
.facts-section
{
    width: 55%;
    padding: 0px 240px;
    display: flex;
    flex-direction: column;
}


.facts-items-section
{
    padding: 100px 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    text-align: center;
}

.facts-item
{
    padding: 45px;
    border: 1px solid var(--orange);
    border-radius: 10px;

}


.facts-item:hover
{
    animation-name: example;
    animation-duration: 3s;
}

    @keyframes example 
    {
        from {border: 1px solid var(--orange);}
        to {border: 2px solid var(--dark02);}
        from {background-color: var(--white);}
        to {background-color: var(--dark05);}
    }



.facts-item img
{
    margin: 10px 0;
}

.facts-item h1
{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark02);
}

.facts-item p
{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark03);
    margin-bottom: 20px;
}


/* start team members sectioon */
.team-section
{
    padding: 78px 301px;
    text-align: center;
}

.members
{
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.member
{
    padding: 25px 10px;
    border: 2px solid var(--dark07);
    border-radius: 25px;
    box-shadow: rgba(184, 184, 202, 0.2) 0px 7px 29px 0px;
}

.member:hover
{
    border: 2px solid var(--dark05);
    box-shadow: rgba(184, 184, 202, 0.2) 0px 7px 29px 0px;
}

.member img
{
    width: 400px;
    height: 300px;
    border: 0;
    border-radius: 25px;
    padding: 20px;
}


/* start sponsors section */


.sponsors-section
{
    text-align: center;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sponsors-width
{
    width: 40%;
}

.sponsors-list-section
{
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
}

.sponsors-list-section img
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}



/* start footer section */

footer
{
    text-align: center;
}

footer p
{
    padding: 39px 410px;
    background-color: var(--lightOrange);
    color: #727272;
    margin: 130px 240px 210px 240px;
}



@media screen and (max-width: 1200px) 
{
    /* start header */

nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.hero-text
{
    padding: 0 200px;
    padding-top: 125px;
    text-align: center;
    width: 100%;
}

.hero-image
{
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto;
}

.hero-image img
{
    width: 100%;
}



/* start features section */
.features-section
{
    margin: 0 auto;
    padding: 70px 5px;
}


/* start features details section */

.features-details-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 54px;
}

/* start facts section */
.facts-section
{
    width: 80%;
    padding: 0px 240px;
    display: flex;
    flex-direction: column;
}


.facts-items-section
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
}

/* start team members sectioon */
.team-section
{
    padding: 78px 30px;
    text-align: center;
}

.members
{

    display: flex;
    gap: 73px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member img
{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
}

/* start sponsors section */
.sponsors-section
{
    text-align: center;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sponsors-list-section
{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

.sponsors-list-section img
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* start footer section */

footer
{
    text-align: center;
}

footer p
{
    padding: 30px 100px;
    background-color: var(--lightOrange);
    color: #727272;
    margin: 130px 110px 100px 110px;
}

}



@media screen and (max-width: 768px) 
{
nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px 0px 50px 0px;
}


.nav-items
{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.logo
{
    font-size: 45px;
}

.hero-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text
{
    padding: 125px 0px;
}

.hero-title
{
    font-size: 40px;
}

/* start features section */
.features-section
{
    text-align: center;
    padding: 78px 30px;
    display: flex;
    flex-direction: column;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.features-image
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}


/* start features details section */

.features-details-section
{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.features-width
{
    width: 100%;
}

.features-details-item
{
    width: 100%;
}

.features-details-image img
{
    width: 100%;
}


/* start experience section */
.experience
{
    position: relative;
    left: 0;
    top: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* start facts section */
.facts-section
{
    width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.facts-items-section
{
    padding: 10px 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

.member img
{
    border: 0;
    border-radius: 50px;
}


/* start sponsors section */
.sponsors-section
{
    text-align: center;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.sponsors-list-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.sponsors-width
{
    width: 80%;
}

.sponsors-list-section img
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 20px 0;
}


/* start footer section */

footer
{
    text-align: center;
    padding: 25px 20px;
}

footer p
{
    padding: 39px 50px;
    background-color: var(--lightOrange);
    color: #727272;
    margin: 0 ;
}
}