:root
{
    --dark01: #131313;
    --dark02: #424242;
    --dark03: #727272;
    --dark04: #A1A1A1;
    --dark05: #D0D0D0;
    --dark06: #E7E7E7;
    --dark07: #F3F3F3;
    --lightOrange: #faf3eb;
    --orange: #FF900E;
    --white :#FFFFFF;
}

*
{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* start header */
.header-section
{
    background-color: var(--lightOrange);
}

nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    padding-top: 50px;
}

.logo
{
    font-size: 45px;
    font-weight: 700;
}

.nav-items
{
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;
}

.nav-items a
{
    text-decoration: none;
    color: var(--dark02);
    font-weight: 500;
    font-size: 18px;
}

.hero-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text
{
    padding: 0 529px;
    padding-top: 125px;
    text-align: center;
    width: 100%;
}

.hero-title
{
    font-size: 64px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.hero-description
{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark03);
}

.primary-btn
{
    background-color: var(--orange);
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    border: 0;
    border-radius: 10px;
    margin: 30px 0px 50px 0;
}

.hero-image
{
    margin-bottom: 50px;
}


/* start features section */
.features-section
{
    padding: 78px 301px;
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.features-image
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-title
{
    font-size: 45px;
    font-weight: 500;
    color: var(--dark03);
    margin-bottom: 24px;
}

.color-dark01
{
    color: var(--dark01);
    font-weight: 700;
}

.color-dark02
{
    color: var(--orange);
    font-weight: 700;
}

.features-description
{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark03);
}

.features-details-section
{
    padding: 130px 240px 54px 240px;
    display: flex;
    gap: 54px;
}


.features-details-title
{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark01);
    border-left: 6px solid var(--orange);
    padding-left: 24px;
    margin: 24px 24px 24px 0;
}

.features-details-description
{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark03);
    width: 80%;
}

.features-details-item
{
    border: 1px solid var(white);
    border-radius: 5px;
    box-shadow: 5px 2px var(--dark07);
    padding: 30px;
    margin: 20px 20px 20px 0;
    box-shadow: rgba(184, 184, 202, 0.2) 0px 7px 29px 0px;
    width: 80%;
}

.item-title
{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark01);
    margin-bottom: 10px;
}

.item-description
{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark03);
}

.features-details-image img
{
    height: 90%;
}

.experience
{
    position: relative;
    top: -120px;
    left: -94px;
}

.experience-btn
{
    padding: 42px 46px 42px 45px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 10px;
}

.experience-large
{
    font-size: 65px;
    font-weight: 700;
}

.facts-section
{
    width: 55%;
    padding: 0px 240px;
    display: flex;
    flex-direction: column;
}

.facts-title
{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark01);
    margin-bottom: 24px;
}

.facts-description
{
    font-size: 16px;
    font-weight: 400;
}

.facts-items-section
{
    padding: 100px 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    text-align: center;
}

.facts-item
{
    padding: 45px;
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.facts-item img
{
    margin: 10px 0;
}

.facts-item h1
{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark02);
}

.facts-item p
{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark03);
    margin-bottom: 20px;
}